*.code-workspace
.vscode/settings.json
.vscode/launch.json
.vscode/.ropeproject/
source/simulator/python/__pycache__/
source/simulator/python/env/
source/simulator/csharp/telemetry/bin/
source/simulator/csharp/telemetry/obj/